.header {
  background-color: var(--secondary-color);
  border-radius: 40px 40px 0 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white); 

  position: relative;
}

.title {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.arrow {
  margin-top: .2rem;
  position: absolute;
  left: 30px;
  cursor: pointer;
}