.anchorContainer {
  width: 50%;
  border-radius: 24px;
  background-color: var(--primary-color);
  padding: 22px 18px 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.link {
  color: var(--secondary-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  cursor: pointer
}

.positionCenter {
  width: 100%;
}

.positionRigth {
  width: 60%;
  align-self: flex-end;
}