.mainContainer {
  background-color: var(--white);
  min-height: 800px;
  margin: 3vh;
  border-radius: 40px;
  position: relative;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.containerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.largeScreen {
  height: auto;
}

.childrenContainer {
  padding: 0.8rem 1.2rem;
  position: relative;
}

@media (min-width: 550px) {
  .mainContainer {
    margin: 3vh auto;
    min-height: 95vh;
  }
}
