.mainContainer {
  background-color: var(--white);
  min-height: 640px;
  height: 95vh;
  margin: 3vh auto;
  border-radius: 40px;
  position: relative;
  max-width: 500px;
}

.containerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.largeScreen {
  height: auto;
}