.footer {
  height: 100%;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 40px;
  margin-top: auto;
}

.link {
  color: var(--link-color);
  font-family: Roboto, sans-serif;
  font-weight: bold;
}
